<div class="row">
    <ul class="nav navbar-nav">
    {% for page in site.pages %}
        {% case page.group %}
            {% when 'menu' %}
                <li><a  href="{{ page.url | prepend: site.baseurl }}"> {{ page.title }} </a></li>
        {% endcase %}
    {% endfor %}
   </ul>
    <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %}
            {% case page.group %}
                {% when 'about' %}
                <li class="navbar-right" ><a href="{{ page.url | prepend: site.baseurl }}"> {{ page.title }} </a></li>
            {% endcase %}
        {% endfor %}
    </ul>
</div>
